body{
  background-color: #EAF6F6;
}
hr{
  border-style: none;
  border-top-style: dotted;
  border-color: grey;
  border-width: 5px;
  width: 5%;
}
h3{
  text-align: center;
  color: #66BFBF;
  background-color: white;
}
h1{
  text-align: center;
  color: #0f4c81;
  background-color: white;
}
